@import '../../theme/colors.scss';

.backButtonWrapper{
    display: inline-block;
    font-size: 11px;
}
.backButtonWrapper .backButtonText{
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;
}
.backButtonWrapper.shadow{
    color: $colorWhite;
    padding: 10px 15px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
@media only screen and (max-width : 1024px) {
    .backButtonWrapper.shadow{
        padding: 20px 25px;
    }
}