.backButtonWrapper{
    padding: 10px;
    display: inline-block;
}
.backButtonWrapper .backButtonText{
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}
.backButtonWrapper.shadow{
    color: white;
    padding: 25px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}