
.bottomButtonHolder .leftHamburger{
    padding: 10px 0;
    font-size: 12px;
}

.bottomButtonHolder .createButton{
    padding: 10px 0;
    font-size: 12px;
}

.bottomButtonHolder .createButton .createText{
    margin-left: 5px;
    font-size: 13px;
    position: relative;
    top: 1px;
}