@import '../../theme/colors.scss';

.mainWrapper{
	/* background: red; */
}
.bottomBarWrapper{
	position: fixed;
	bottom: 0;
	padding-top: 20px;
    padding-bottom: 20px;
}
.topBar{
	padding-bottom: 15px;
	padding-top: 15px;
}
.navigationTest{
	position: fixed;
	bottom: 70px;
	left: 0px;
	width: 100%;
	padding: 10px;
	/* background: red; */
}
.navigationTest .prev{
	/* cursor: pointer; */
	position: relative;
	left: 0;
	display: inline-block;
}
.navigationTest .next{
	position: relative;
	right: 0;
	display: inline-block;
	float: right;
}