@import '../../theme/colors.scss';



.cardDetailWrapper{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    z-index: 999;
    overflow-y: scroll;
    transition: 0.5s;
}
.cardDetailWrapper.visible{
    height: 100%;
}
.cardDetailWrapper .topBlankPart{
    height: 450px;
}
.cardDetailWrapper .cardContentHolder{
    background: $colorWhite;
}