.cardImageDiv{
    width: 200px;
    height: 300px;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.4);
    transition: all 0.3s ease;
}
.cardImageDiv.fixed{
    transform: scale(2);
}
