.cardHeading{
    padding: 10px;
}

.cardHeading .cardDateNew{
    font-size: 12px;
    margin-top: 10px;
}
.cardHeading.isNotCardDetail .cardDateNew{
    float: right;
}
.cardHeading .titleLocationWrapper{
    display: inline-block;
}
.cardHeading .titleLocationWrapper .cardDateNew{
    float: none;
}
.cardHeading .titleLocationWrapper .cardTitle{
    font-size: 22px;
    font-weight: 600;
}
.cardHeading .titleLocationWrapper .cardLocation{
    font-size: 11px;
    margin-top: 6px;
}
.cardHeading .titleLocationWrapper .cardLocation .cardLocationText{
    margin-left: 5px;
}