.cardHeading{
    padding: 10px;
}

.cardHeading .cardDate{
    /* float: right; */
    font-size: 12px;
    margin-top: 4px;
    margin-left: 2px;
}

.cardHeading .cardTitle{
    font-size: 22px;
    font-weight: 600;
}

.cardHeading .cardLocation{
    font-size: 11px;
    margin-top: 6px;
}

.cardHeading .cardLocation .cardLocationText{
    margin-left: 5px;
}

.notForCardDetail{
    position: absolute;
    right: 25px;
    top: 16px;
}