@import '../../theme/colors.scss';



.cardDetailWrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    z-index: 999;
    overflow-y: scroll;
    transition: 0.5s;
}
.cardDetailWrapper.visible{
    height: 100%;
}
.cardDetailWrapper .topBlankPart{
    height: 450px;
}
.cardDetailWrapper .cardContentHolder{
    background: $colorWhite;
    height: calc(100% - 450px);
}
.cardDetailTopPart{
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}
.calendarSyncDiv{
    padding: 20px;
    font-weight: 500;
}
.calendarSyncDiv > div{
    display: inline-block;
}
.calendarSyncDiv .knowMoreText{
    margin-right: 5px;
    position: relative;
    top: -1px;
    color: #00cc92;
}
.interestedButtonHolder{
    display: inline-block;
    position: absolute;
    right: 35px;
    top: 35px;
}



/* .appear {
    opacity: 0;
    transform:   translate(-100px,0);
    transform: translate3d(-100px,0,0);
}
  
.appearActive {
    opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: all;
    transition-duration: 300ms;
    transition-delay: 1000ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), ease;
}

.enter {
    opacity: 0;
    transform:   translate(-100px,0);
    transform: translate3d(-100px,0,0);
}
  
.enterActive {
    opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: all;
    transition-duration: 300ms;
    transition-delay: 1000ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), ease;
}

.leave {
    opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
    transition-property: all;
	transition-duration: 300ms;
    transition-delay: 500ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), ease;
}

.leaveActive {
    opacity: 0;
	transform:   translate(-100px,0);
	transform: translate3d(-100px,0,0);
} */